:root {
  --color-text: #3c3c3c;
  --color-primary: #7b68ee;
  --color-secondary: #9e9ede;
  --color-dark: #5b50c9;
  --color-bg: #fafafa;
  --color-accent: #ededf9;

  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
}

[data-theme="dark"] {
  --color-text: #b0bec5;
  --color-primary: #6a5acd;
  --color-secondary: #8182ba;
  --color-dark: #464586;
  --color-bg: #22222a;
  --color-accent: #263238;
}
